html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

.icon,
.icon-small,
.list-icon {
    height: 38px;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    transition: 0.2s;
    user-select: none;
}

.icon-small {
    height: 30px;
}

.list-icon {
    height: 32px;
}

.icon:hover,
.icon-small:hover,
.list-icon:hover {
    filter: invert(40%);
    transition: 0.2s;
}

.icon-inline {
    display: inline;
    margin: 10px;
}

.flex-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.float-right {
    float: right;
}
.float-clear {
    clear: both;
    background-image: url();
}
.button-container {
    box-sizing: border-box;
    width: 100%;
    padding: 40px 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.button {
    display: flex;
    width: 25%;
    min-width: 100px;
    height: 40px;
    background-color: #502479;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
}
.button-danger {
    background-color: #ffffff;
    border: 2px solid #d50006;
    color: #d50006;
}
.secondary-bt {
    background-color: #b3b2b2;
    color: #000000;
}

.show-element {
    display: block !important;
}

.hide-element {
    display: none !important;
}

header {
    width: 100%;
    padding: 5vh 10vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.header-title {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem
}

.header-title h1 {
    font-size: 42px;
}

.header-title a {
    color: #000000;
    text-decoration: none;
}

.header-title img {
    height: 100%;
    box-sizing: border-box;
}

.profile {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.profile-icon {
    height: 42px;
    cursor: pointer;
    box-sizing: border-box;
}

.profile-nav {
    display: none;
    width: 0;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.profile-nav ul li {
    list-style-type: none;
    position: absolute;
    z-index: 2;
    left: -69px;
    top: 20px;
    width: 96px;
    padding: 6px 12px;
    border-bottom: 2px solid #000000;
    text-align: center;
    box-sizing: border-box;
}

.profile-nav li a {
    text-decoration: none;
    color: #000000;
    box-sizing: border-box;
}
/* =========================================
   List
========================================= */

article {
    width: 60%;
    margin: 0 20% 60px 20%;
}

article h2 {
    font-size: 20px;
}

.section-header {
    width: 60%;
    padding: 20px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-title {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    width: 80%;
    padding: 0 10% 10%;
}
.list-item {
    height: 100px;
    padding: 0 15px 0 0 ;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    gap: 10px;
}
.list .list-item {
    padding: 0 30px 0 0 ;
    gap: 20px;
    position: relative;
}
.list-item .list-preview-container {
    width: 90%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10px;
    gap: 6px;
    overflow: hidden;
}
.list-item-text {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
}
.list-item .image-preview,
.animation-panel-preview {
    max-height: 80px;
    max-width: 80px;
    border-radius: 5px;
    border: solid 2px #b3b2b2;
    margin-right: 6px;
}
.image-preview-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    margin: 10px 20px 10px 10px;
}
.list-item a.icon-link {
    height: 32px;
    width: 32px;
}
.list-item .list-number {
    width: 20px;
}
.bars {
    width: 16px;
    position: relative;
    left: -8px;
}
.upload-field {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 3px dashed #b3b2b2;
    align-items: center;
    justify-content: center;
    font-style: italic;
    padding: 20px;
}
.hidden-input {
    display: none;
}

#bgUploadForm {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	padding: 40vh 18vw;
	background: rgba(25, 25, 25, 0.5);
}

#bgUploadForm label,
#bgUploadForm button {
    box-shadow: #666 0 10px 10px;
}

.more-options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overflow-menu {
    position: absolute;
    padding: 20px 30px;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: #ffffff;
    border: solid 2px #b3b2b2;
    border-radius: 5px;
    font-size: 20px;
    z-index: 1000;
}

.overflow-option {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-right: 40px;
    cursor: pointer;
}

.icon-overflow-menu {
    width: 24px;
}

/* =========================================
   edit
========================================= */
.edit {
    width: 60%;
    margin: 20px 15%;
    padding: 20px 5%;
    border-radius: 20px;
    box-shadow: #b3b2b2 0 0 30px;
}

.edit h1 {
    min-width: 80%;
    overflow: clip;
}

h1 img {
    margin-right: 10px;
    user-select: none;
}

.dropdown-parent {
    width: 100%;
}

.dropdown-container {
    display: none;
    background-color: #f3f3f3;
    margin: -10px 0 20px 0;
    border-radius: 8px;
}

.dropdown-container a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-container input[type="text"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0;
    box-sizing: border-box;
    padding: 12px 16px;
    background: none;
    background-image: url('../media/search.svg');
    background-position: calc(100% - 12px) 10px;
    background-repeat: no-repeat;
    font-family: inherit;
    font-style: italic;
    font-size: 16px;
}

.animation-panel-preview {
    width: 100%;
    border-radius: 5px;
    border: solid 2px #b3b2b2;
    box-sizing: border-box;
    background: #fff;
    aspect-ratio: 1;
}

.image-edit,
.animation-panel-edit {
    width: 100%;
    border-radius: 5px;
    border: solid 2px #b3b2b2;
    box-sizing: border-box;
}

.link-item {
    height: 50px;
    padding: 0 8px 0 20px ;
    background-color: #f3f3f3;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 10px;
}
.link-item input[type="text"] {
    height: 30px;
    font-size: 16px;
    letter-spacing: 2px;
    border: 2px solid #b3b2b2;
    border-radius: 8px;
    box-sizing: border-box;
    padding-left: 4px;
    width: 100%;
}
.link-item>div.inline-form {
    width: 200%;
    align-items: center;
}
.link-item>div {
    display: flex;
}
.image-edit-container {
    position: relative;
    width: min(100%, 600px);
    height: calc(100% - 5px);
}
.image-edit-parent-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.linkBox {
    position: absolute;
    opacity: 0.5;
    box-sizing: border-box;
    border: 3px solid #000000;
}

#comicForm,
#importForm {
    width: 60%;
    margin: 20px 15%;
    padding: 20px 5%;
}

#comicName {
    width: 50%;
    margin: 25% 25% 25px;
    border: none;
    border-bottom: 2px solid #000000;
    font-size: 18px;
    border-radius: 0%;
}

.actionmenu-container {
    position: relative;
    right: -68px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.actionmenu,
.action-icon .tooltiptext {
    position: absolute;
    border: solid 2px #b3b2b2;
    background: #fff;
    right: 20%;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 54px;
}

.actionmenu {
    display: flex;
    flex-wrap: wrap;
    width: 54px;
    align-items: center;
    justify-content: center;
}

.action-icon {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-icon .tooltiptext {
    visibility: hidden;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px;
    white-space: nowrap;
    right: 110%;
}

.action-icon:hover>.tooltiptext {
    visibility: visible;
}


/* 
   Settings
========================================= */
.settings-form {
    box-sizing: border-box;
    margin: 1rem auto 2rem auto;
    display: none;
    gap: 40px;
    flex-wrap: wrap;
    border-bottom: 2px solid #b3b2b2;
}
.submit-container {
    flex-basis: 100%;
}
.submit-container .button {
    margin: 2rem auto;
}

hr.line-break {
    border: 1px solid #b3b2b2;
    margin: 30px 0 0 0;
}

.line-form input{
    width: 100%;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #000000;
    font-size: 18px;
}

#form-branch-name {
    display: none;
}
.settings-tabs {
    border-bottom: 2px solid #b3b2b2;
    display: flex;
    gap: 10px;
    padding: 0 10px;
    user-select: none;
}
.tab {
	padding: 10px 20px;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
	border-bottom: none;
	background: #f3f3f3;
    cursor: pointer;
}
.show-tab {
    display: flex;
}
.settings-tabs h3 {
    margin: auto 10px;
    font-size: 18px;
}

.settings-form h4 {
    font-size: 18px;
    color: #502479;
    margin: 20px auto 10px;
}

.slider-container {
    width: min(90%, 560px);
    margin: auto;
}
.slider-container table {
    width: 100%;
    border-spacing: 20px 10px;
}
.settings-form input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    font-size: 14px;
    letter-spacing: 2px;
}

.settings-form input[type="text"] {
    padding-left: 10px;
    width: calc(100% - 10px);
    border: 2px solid #b3b2b2;
}

input:focus {
    outline: none !important;
}

.switch {
    display: inline-block;
    height: 40px;
    position: relative;
    width: 100%;
}
.switch input {
    display:none;
}
.slider {
    background-color: #b3b2b2;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
}
.slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "OFF";
    height: 32px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-right: 4px;
    font-size: 12px;
    letter-spacing: 2px;
    box-shadow: #b3b2b2 0 0 10px;
}
input:checked + .slider {
    background-color: #502479;
}
input:checked + .slider:before {
    transform: translateX(calc(60% - 1px));
    content: "ON";
    box-shadow: #2e1445 0 0 10px;
}
.slider.round {
    border-radius: 40px;
}
.slider.round:before {
    border-radius: 32px;
}

.settings-panel {
    flex: 0 0 calc(50% - 20px);
    min-width: 340px;
    padding: 0 20px;
    box-sizing: border-box;
}
.settings-element {
	display: flex;
	align-items: center;
	justify-content: space-between;
    gap: 20px;
    height: 40px;
    padding: 10px 0;
}
.settings-element span {
    width: 80%;
    white-space: nowrap;
}

/* slider range input */
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #b3b2b2;
    outline: none;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: #b3b2b2 0 0 10px;
}

input[type="range"]::-webkit-slider-track {
    width: 100%;
    height: 10px;
    background: #b3b2b2;
    border-radius: 5px;
    border: none;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: #b3b2b2 0 0 10px;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 10px;
    background: #b3b2b2;
    border-radius: 5px;
    border: none;
}

input[type="range"]::-moz-range-progress {
    background: #502479;
    border-radius: 5px;
    height: 10px;
}
input[type="range"]:focus {
    border: none;
}

/* 
   Branching
========================================= */
.branching-button-container {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    margin: 20px 0;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.branching-button-container>div,
.branching-button-container>a {
    box-sizing: border-box;
    height: 100%;
    padding: 20px;
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-grow: 2;
}

.branching-button-container>div.branching-button-mainbranch {
    flex-grow: 4;
    cursor: pointer;
}


/* =========================================
   View
========================================= */

.image-container {
    margin: auto;
    background-color: #ffffff;
    max-width: 100%;
}

.image-container img {
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    z-index: -1;
}

.image-comic-container {
    position: relative;
}

.horizontal-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-wrap: no-wrap;
}

.horizontal-scroll .image-comic-container {
    display:inline-block;
    flex: 0 0 auto;
    width: auto;
    height: 100%;
    max-height: 100vh;
}

.horizontal-scroll .image-comic-container svg,
.horizontal-scroll .image-container img {
    max-height: 100vh;
    width: auto !important;
}

.background-container {
    background-size: cover !important;
}

/* =========================================
   Footer
========================================= */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 5rem;
    padding: 0 10%;
    border-top: 2px solid #b3b2b2;
    background-color: #ffffff;
}

footer a {
    text-decoration: none;
    color: #502479;
}

footer a:hover {
    color: #686868;
}


/* =========================================
   Media Queries
========================================= */

@media screen and (max-width: 1230px) {
    .settings-form {
        flex-wrap: wrap;
    }
    .settings-panel {
        flex: 0 0 80%;
    }

    .actionmenu-container {
        width: 100%;
        top: 39px;
        right: auto;
        margin-bottom: 60px;
    }
    .actionmenu {
        width: auto;
        right: auto;
    }
    .action-icon {
        margin: 0 40px;
    }
    .action-icon .tooltiptext {
        right: auto;
        top: 110%;
    }
}

@media screen and (max-width: 960px) {
    .edit {
        width: 80%;
        margin: 20px 5%;
        padding: 20px 5%;
    }

    .actionmenu-container {
        top: 48px;
        margin-bottom: 100px;
    }
    .actionmenu {
        padding: 10px;
    }
    .action-icon {
        display: flex;
        flex-wrap: wrap;
        margin: 0 5px;
    }
    .action-icon .icon-small {
        margin-bottom: 8px;
        transition: none;
    }
    .action-icon .tooltiptext {
        visibility: visible;
        position: relative;
        width: 100%;
        border: none;
        background: none;
        padding: 0;
        border-radius: 0;
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    .edit {
        width: 90%;
        margin: 10px 0;
        padding: 20px 5%;
    }
    #comicName {
        width: 80%;
    margin: 25% 10% 25px;
    }
}

@media screen and (max-width: 520px) {
    .edit {
        width: calc(100% - 40px);
        margin: 0;
        padding: 0 20px;
        border-radius: 0;
    }
    .icon {
        width: 32px;
    }
    .list-icon {
        width: 28px;
    }
    .profile-icon {
        width: 34px;
    }
    .icon-small {
        width: 25px;
    }
    .list-item {
        height: 76px;
        gap: 6px;
        margin-bottom: 10px;
    }
    .list-item .image-preview,
    .animation-panel-preview {
        max-height: 54px;
        max-width: 54px;
    }
    .edit .list-preview-container {
        padding: 0;
        gap: 0;
        height: inherit;
    }
    .image-preview-container {
        margin: 10px 10px 10px 0;
    }
    #bgUploadForm {
        padding: 40vh 4vw;
    }
    #comicForm,
    #importForm {
        width: 90%;
        margin: 20px 0;
    }
    .settings-panel {
        flex: 0 0 100%;
        min-width: 0;
    }
    .settings-element span {
        font-size: 14px;
    }
    .list {
        width: auto;
        padding: 0 10px 20px;
    }
    .list-item .list-number {
        width: 30px;
        margin: -5px;
    }
    .list-preview-container span {
        height: inherit;
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
    }
    .list-item-text {
        font-size: 18px;
    }
    header {
        margin: 20px;
        height: 60px;
        padding: 0;
        width: auto;
    }
    .section-header h1 {
        font-size: 22px;
        margin: 0;
    }
    .list-title h1 {
        font-size: 26px;
    }
    .header-title h1 {
        font-size: 24px;
    }
    .profile-nav ul li {
        padding: 6px;
        width: auto;
        left: -50px;
    }
    .button-container {
        flex-wrap: wrap;
        gap: 20px;
    }
    .dropdown-parent h2 {
        font-size: 20px;
    }
    .dropdown-container {
        width: 100%;
    }

    .actionmenu-container {
        top: 39px;
    }
    .actionmenu {
        width: 100%;
        justify-content: space-around;
    }
    .action-icon .icon-small {
        margin-bottom: 0;
    }
    .action-icon .tooltiptext {
        display: none;
    }
}